<div id="archive">
  <h1>Archive</h1>
  <ul class="unstyled" id='links'>
    <% 1.upto 5 do%>
    <li>
      <ul class="unstyled actions">
        <li><a class='btn btn-primary' href="#"><i class="icon-pencil"></i>Edit</a></li>
        <li><a class='btn btn-primary' href="#"><i class="icon-share-alt"></i>Share</a></li>
      </ul>
      <a href="#" class="title">My link title</a>
      <span class="url">http://google.com.ua</span>
      <blockquote>
        <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</i>
      </blockquote>
    </li>
    <% end %>
  </ul>
</div>
