<div id="archive" class='content'>
  <h1>Archive</h1>
  <div class="row">
    <div class="alert alert-info">
      You haven't saved bookmarks at the moment. <a href="#new">Create one</a>.
    </div>
    <div class="span9">
      <ul class="unstyled" id='links'></ul>
    </div>

    <div class="span2 offset1" id='filters'>
      <h4>Filter By Domain</h4>
      <form class="filter" action=''></form>
    </div>
  </div>
</div>
