<script type="text/template" data-name='bookmark'>
  <ul class="unstyled actions">
    <li><a class='btn btn-primary' href="#"><i class="icon-pencil"></i>Edit</a></li>
    <li><a class='btn btn-primary' href="#"><i class="icon-share-alt"></i>Share</a></li>
  </ul>
  <a href="<%%= url %>" class="title" target='_blank'><%%= title %></a>
  <div class="url"><%%= url %></div>
  <%% if (description) { %>
    <blockquote>
      <i><%%= description %></i>
    </blockquote>
  <%% } %>
</script>
