<script type="text/template" data-name='filter'>
  <%% _(domains).each(function (domain) { %>
    <label class="checkbox">
      <input type="checkbox" value='<%%= domain.name %>' /> .<%%= domain.name %> <span class="badge badge-info"><%%= domain.count %></span>
    </label>
  <%% }); %>
</script>
