#contacts, #about, #archive, .modal {
  display: none;
}
.required { color: #ba4d4d; }

#links {
  >li {
    padding: 10px 0;
    .title {
      font-size: 16px;
    }
    .title {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 675px;
    }
    .url {
      font-style: italic;
      padding-left: 1px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    blockquote {
      width: 400px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    ul.actions {
      float: right;
      li {
        display: inline-block;
        text-align: right;
        a {
          width: 70px;
        }
      }
    }
  }
}

#filters {
  .filter {
    margin: 5px 0 20px;
    span.domain {
      display: inline-block;
      width: 35px;
    }
  }
}

.modal {
  input[type='submit'] {
    display: none;
  }
  .control-group {
    .help-block {
      display: none;
    }
    &.error .help-block {
      display: block;
    }
  }
}
